.tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20%;
    margin-right: 20%;
    justify-items: center;
    align-items: end;
}

.tab-container {
    /* display: grid; */
    /* justify-items: end; */
}