.tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: 40%;
    justify-self: center;
    justify-items: center;
    align-items: end;
}

.tab {
    padding: 10px;
    border: none;
    background: rgba(0, 0, 0, 0.4);
    color: white;
}

.tab:focus {
    background: white;
    color: rgba(0, 0, 0);
}