.grid-container {
    display: grid;
    grid-template-rows: 190px 190px 190px;
    grid-template-columns: 140px 140px 140px;
    gap: 50px;
}

.new-book-form {
    display: none;
}

.card {
    border: 1px solid;
}