* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;   
    list-style-type: none;
    text-decoration: none;
}

/* ----------- HEADER ----------- */

header > h2 {
    display: flex;
    justify-content: center;
}

/* ----------- GAMEBOARD ----------- */

.battlefields {
    display: flex;
    justify-content: center;
}

.battlefield {
    display: flex;
    flex-direction: column;
}

.battlefield-label {
    display: flex;
    justify-content: center;
}

.ui-draggable {
    cursor: grab;
}

.ui-draggable:active {
    cursor: grabbing;
}

.shipyard {
    padding: 2rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.shipyard > div {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.ship-box {
    height: 50px;
    background-color: blue;
    position: relative;
}

.gameboard {
    cursor: pointer;
}

.wait {
    opacity: 0.2;
    cursor: default;
}

.grid {
    display: grid;
}

.row {
    display: flex;
}

th {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell, td, th {
    flex: 1;
    height: 50px;
    width: 50px;
}

.cell {
    border: solid 1px;
}

.cell-busy {
    cursor: grab;
}

.cell:hover {
    background-color: lightblue;
}

.cell-fill {
    background-color: blue;
}

.cell-hit {
    background-color: red;
}

.cell-miss {
    background-color: black;
}