* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;   
    list-style-type: none;
    text-decoration: none;
}

/* ----------- GAMEBOARD ----------- */

.battlefields {
    display: flex;
}

.battlefield {
    display: flex;
    flex: 1;
}

.ui-draggable {
    cursor: grab;
}

.ui-draggable:active {
    cursor: grabbing;
}

.ship-box {
    width: 4em;
    height: 2em;
    padding-right: 1px;
    padding-bottom: 0px;
    background-color: blue;
}

.gameboard {
    flex: 1;
    cursor: pointer;
}

.wait {
    opacity: 0.2;
    cursor: default;
}

.grid {
    display: grid;
}

.row {
    display: flex;
}

th {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell, td, th {
    flex: 1;
    height: 2em;
    width: 4em;
}

.cell {
    border: solid 1px;
}

.cell:hover {
    background-color: lightblue;
    /* cursor: pointer; */
}

.cell-fill {
    background-color: blue;
}

.cell-hit {
    background-color: red;
}

.cell-miss {
    background-color: black;
}