/* ---------- GLOBAL ---------- */

* {
    padding: 0;
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

/* ---------- CONTAINER ---------- */

#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

/* ---------- NAVBAR ---------- */

#navbar {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 132, 255);
    padding: 25px;
    padding-right: 75px;
    gap: 50px;
    color: white;
}

#logo-container {
    display: flex;
    /* grid-template-columns: 1fr 5fr; */
    align-items: center;
    font-size: 2rem;
    gap: 20px;
}

#nav-links ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-link {
    display: flex;
    font-size: 1.3rem;
    gap: 20px;   
}

#settings {
    margin-top: 30px;
}

/* ---------- MAIN ---------- */

#main {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

#main > div {
    padding-left: 30px;
    padding-right: 60px;
}

/* ---------- HEADER ---------- */

#header {
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    grid-template-columns: 2fr 1fr;
    /* height: 175px; */
    align-items: center;
    z-index: 100;
    box-shadow: 0px 2px 5px 2px rgba(2, 2, 2, 0.2);
}

/* ---------- SEARCH-BAR ---------- */

#search-bar {
    display: flex;
    /* align-items: center; */
    gap: 20px;
    /* padding: 10px; */
}

#search-input {
    width: 75%;
    /* height: 65%; */
    border-radius: 30px;
    background-color: lightgray;
    border: none;
}

/* ---------- USER-SECTION ---------- */

#user-section {
    padding-right: 20px;
    height: 40px;
}

#user-section ul {
    display: flex;
    justify-content: end;
    gap: 20px;
    align-items: center;
    font-weight: bold;
}

#user-section-pfp {
    height: 40px;
}

/* ---------- WELCOME ---------- */

#welcome {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: bold;
}

.profile-pic {
    height: 70px;
    border-radius: 50px;
}

#welcome-message {
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    gap: 5px;
}

#username {
    font-size: 1.2rem;
}

/* ---------- OPTIONS ---------- */

#options ul {
    display: flex;
    justify-content: end;
    gap: 20px;
    /* gap: 20px; */
}

#options button {
    background-color: rgb(0, 132, 255);
    border: none;
    border-radius: 40px;
    height: 35px;
    width: 80px;
    color: white;
}

/* ---------- CONTENT ---------- */

#content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-top: 30px;
    background-color: lightgray;
    gap: 30px;
}

/* ---------- MAIN-CONTENT ---------- */

#main-content {
    display: grid;
}

/* ---------- PROJECTS ---------- */

#projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: .2fr repeat(auto, 1fr);
    gap: 20px;
}

.content-title {
    grid-column: 1 / span 2;
}

.project {
    /* height: 75%; */
    /* width: 30%; */
    /* outline: solid 1px; */
    border-radius: 10px;
    background-color: white;
    display: grid;
    grid-template-columns: 10px 5fr;
    overflow: hidden;
}

.tab {
    background-color: rgb(255, 174, 0);
}

.project-info {
    grid-column: 2;
    padding: 7% 5%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    position: relative;
}

.project-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.project-options-container {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 30px;
    right: 35px;
}

.project-options-container ul {
    display: flex;
    gap: 10px;
}

/* ---------- ANNOUNCEMENTS ---------- */

#announcements {

}

/* ---------- TRENDING ---------- */

#trending {
    grid-column: 2;
}