/* ---------- GLOBAL ---------- */

* {
    padding: 0;
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

/* ---------- CONTAINER ---------- */

#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* grid-template-rows: auto; */
}

/* ---------- NAVBAR ---------- */

#navbar {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 132, 255);
    padding: 25px;
    padding-right: 75px;
    gap: 50px;
}

#logo-container {
    display: flex;
    /* grid-template-columns: 1fr 5fr; */
    align-items: center;
    font-size: 2rem;
    gap: 20px;
}

#nav-links ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-link {
    display: flex;
    font-size: 1.3rem;
    gap: 20px;   
}

#settings {
    margin-top: 30px;
}

/* ---------- MAIN-CONTENT HEADER ---------- */

#header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
}

#search-bar {
    
}

#user-section ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#welcome-options-container {

}

.profile-pic {
    height: 50px;
    border-radius: 50px;
}

/* ---------- CONTENT ---------- */

#content {
    display: grid;
    grid-column: 2;
}