* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;   
    list-style-type: none;
    text-decoration: none;
}

header, footer {
    background: rgb(85, 85, 85);
}

.header, 
.footer { 
    height: 5rem;
    display: flex;
    align-items: center;
}

.main {
    display: grid;
    grid-template-columns: 1fr 6fr;
    min-height: calc(100vh - 10rem);
}

.main > div {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#projects-bar {
    grid-column: 1;
    grid-column-end: auto;
    background: rgb(85, 85, 85);
}

.footer {
    justify-content: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a:visited {
    color: inherit;
}

a:hover {
    border-bottom: 1px solid;
}

/* --------- HEADER --------- */

header {
    padding-left: 2rem;
    padding-right: 2rem;
}

.header {
    font-weight: bold;
}

.header-left, 
.header-right {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 1rem;
}

.header-right {
    justify-content: flex-end;
}

.logo-name {
    font-size: 2rem;
}

/* --------- PROFILE-HEADER --------- */

.profile-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-pic {
    border-radius: 30px;
}

/* --------- MAIN --------- */

/* --------- PROJECTS-BAR --------- */

#projects-bar {
    display: flex;
    flex-direction: column; /* Should be row but displays as column */
    align-items: center;
    text-align: center;
    gap: 1rem;
}

#projects-bar-heading {
    font-size: 1.2rem;
}

.project-links {
    display: grid;
    gap: 1rem;
}

.project-link {
    flex: 1;
}

/* --------- CONTENT --------- */

.content {
    padding-left: 3rem;
    padding-right: 3rem;
}

.content-container {
    display: grid;
}

/* --------- PROJECTS --------- */

.projects-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.projects-heading {
    font-size: 1.6rem;
}

.projects-options-container {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
}

.projects-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 2rem;
}

.project-overview {
    background-color: rgb(107, 103, 103);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 2rem;
    min-width: 300px;
    max-width: 350px;
    flex: 1;
}

.project-overview-header {
    display: flex; 
}

.project-options-container {
    margin-left: auto;
}

.project-overview-tasks {
    padding-top: .4rem;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.projects-task {
    display: flex;
}

/* --------- PROJECT --------- */

.project-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.project-heading {
    font-size: 1.4rem;
}

.project-title {
    font-size: 1.4rem;
    font-weight: bold;
}

.project-tasks {
    padding-top: .4rem;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.tasks-list {
    flex: 1;
}

.priority {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: .5rem;
    justify-content: center;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.project-task {
    display: flex;
    background-color: rgb(107, 103, 103);
    padding: .5rem;
    border-radius: 20px;
}

.task-finished {
    margin-right: .4rem;
}

.task-due-date {
    margin-left: auto;
}

/* --------- TASK --------- */

.task {
    display: flex;
    flex-direction: column;
    background-color: rgb(107, 103, 103);
    padding: 2rem;
    border-radius: 2rem;
    gap: 1rem;
}

.task-header {
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.task-priority {
    display: flex;
    align-items: center;
}

.task-header > .task-title {
    font-size: 1.8rem;
}

.description-label {
    text-decoration: underline;
    font-size: 1.1rem;
}

/* --------- MEDIA QUERIES --------- */

@media screen and (min-width: 750px) {
    .project-tasks {
        flex-direction: row;
    }
}
