* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;   
    list-style-type: none;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 116, 184);
    color: white;
    font-weight: bold;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 1rem;
    height: 5rem;
}

footer {
    display: flex;
    background-color: rgb(0, 116, 184);
    height: 5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.logo-container,
.search-bar-container,
.user-info-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.metric-container {
    display: flex;
    align-items: center;
}

.logo-icon {
    height: 50px;
    width: 50px;
}

main {
    margin-left: 25%;
    margin-right: 25%;
    min-height: calc(100vh - 11rem);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* ----------- CURRENT WEATHER ----------- */

.current-weather-container {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    background-color: rgb(0, 116, 184);
    position: relative;
    border-radius: 10px;
    color: white;
}

.current-weather-header {
    background-color: rgb(41, 86, 112);
    padding: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.current-weather-content {
    padding: 1rem;
}

.current-temp {
    font-size: 4rem;
}

.feels-like,
.current-weather-description,
.day-night-temp {
    font-size: 1.2rem;
}

.weather-description-icon {
    position: absolute;
    top: 28%;
    right: 10%;
    height: 70px;
    width: 70px;
}

/* ----------- DAILY FORECAST ----------- */

.daily-forecast-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 116, 184);
    color: white;
    padding: 1rem;
    border-radius: 10px;
}

.forecast-list {
    display: flex;
    gap: 1rem;
    flex: 1;
    align-self: center;
}

.forecast-item {
    display: flex;
    flex-direction: column;
    border: solid 1px;
    align-items: center;
}

.forecast-item > div {
    display: flex;
}

.forecast-icon {
    height: 50px;
    width: 50px;
}