.container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    border: blue solid 10px;
}

.buttonsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border: blue solid 1px;
}

#clear {
    grid-column: span 4;
}