.container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    border: black solid 10px;
    background-color: black;
    border-radius: 5%;
    max-width: 12em;
}

#display {
    background: black;
    border-color: black;
    color: white;
    border-radius: 5%;
}

.buttonsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border: blue solid 1px;
}

#clear {
    grid-column: span 4;
}

button {
    border-radius: 30%;
}

.number {
    background-color: pink;
}

.operator {
    background-color: grey;
}